// BASE

body
  background: asset-url('bkg.png')
  font: 300 1em 'Roboto', sans-serif, 'Helvetica', Arial

h1, h2, h3, h4, h5, h6
  font: 400 2em 'Oswald', sans-serif, Arial, 'Helvetica'
  text-transform: uppercase

a
  font: 100 1.1em/1 'Oswald', 'Helvetica'
  text-transform: uppercase
  color: $anchor

  &:hover
    color: $anchor-hover

.separator
  width: 100%
  height: 2px
  border-top: 5px solid $borders
  border-bottom: 1px solid $borders
