// FOOTER

footer.container
  .sponsors
    background: $white

    ul
      padding: 38px 0

  .copy-right
    color: $icon-bkg - 20
    font-family: 'Roboto', sans-serif
    font-weight: 300
    padding: 10px 0 20px
    text-align: center

.sponsors-title
  font: 100 2em "Oswald", sans-serif
  text-transform: uppercase
  padding: 60px 0
  display: inherit

.sponsor
  list-style: none
  display: inline-block
  width: 18%

.sponsor-image
  display: block
  margin: 0 auto
  position: relative

#crowd .sponsor-image
  top: -14px
  width: 72%

#github .sponsor-image
  width: 52%

#travis .sponsor-image
  bottom: 21px
  width: 74%

#onelogin .sponsor-image
  bottom: 20px
  width: 64%

#toptal .sponsor-image
  bottom: 19px
  width: 58%

#rackspace .sponsor-image
  top: 6px

#code-climate .sponsor-image
  top: 3px

#empleos-ti .sponsor-image
  bottom: 2px

#honey-badger .sponsor-image
  top: 2px

.small .sponsor-image
  width: 71%

