// FOOTER

footer.container
  .sponsors
    background: $white

    span
      font: 100 2em "Oswald", sans-serif
      text-transform: uppercase
      padding: 60px 0
      display: inherit

    ul
      padding: 38px 0

  .sponsor
    list-style: none
    display: inline-block
    padding: 0 30px
    position: relative

  #crowd
    top: -14px

  #github
    width: 80px

  #travis
    bottom: 21px
    width: 115px

  #onelogin
    width: 100px

  #toptal
    bottom: 19px
    width: 90px

  #engineyard img
    padding-left: 8px

  .small
    width: 110px



  .copy-right
    text-align: center
    font-family: 'Roboto', sans-serif
    padding: 10px 0 20px
    color: $icon-bkg - 20
    font-weight: 300
