.sponsors
  .row
    .three-columns
      %span.sponsors-title Our Sponsors
    .nine-columns
      = render 'sections/sponsors_list'

.copy-right
  %small &copy; 2013. This site is protected by Copyright. Under U.S and international law. All rights reserved.
