%menu{ label: 'categories' }
  %li
    = link_to '/category/news' do
      %i.fa.fa-star
      News
  %li
    = link_to '/category/judges' do
      %i.fa.fa-legal
      Judges
  %li
    = link_to '/category/speakers' do
      %i.fa.fa-bullhorn
      Speakers
  %li
    = link_to '/category/sponsors' do
      %i.fa.fa-flag
      Sponsors
