%menu{ label: 'categories' }
  %li
    = link_to '/category/news', class: 'news' do
      %i.fa.fa-star
      News
  %li
    = link_to '/category/judges', class: 'judges' do
      %i.fa.fa-legal
      Judges
  %li
    = link_to '/category/speakers', class: 'speakers' do
      %i.fa.fa-bullhorn
      Speakers
  %li
    = link_to '/category/sponsors', class: 'sponsors' do
      %i.fa.fa-flag
      Sponsors
